* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ccc;
}

span,
label {
  margin: 1rem;
  font-weight: 800;
}

button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: 900;
}
